[mysqld]
server_id=1
binlog_format=ROW
log_bin=mysql-bin
wsrep_cluster_address=gcomm://{{ wsrep_cluster_address }}
wsrep_provider=/usr/lib64/libgalera_smm.so
datadir=/var/lib/mysql
user=mysql
bind_address=0.0.0.0

wsrep_slave_threads=4
wsrep_cluster_name=mysql_cluster
wsrep_sst_method=xtrabackup-v2
wsrep_node_address={{ ansible_default_ipv4.address }}
wsrep_node_name={{ ansible_hostname }}
default_storage_engine=InnoDB
wsrep_sst_method=xtrabackup-v2
wsrep_sst_auth="sstuser:{{ sstuser_password }}"

log_slave_updates

innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
